.max-width {
    width: 100%;
}

.width-menu-mobile-navbar {
    width: 98%;
    margin: 3px 4px 3px 4px;
}

.box-shadow-card {
    box-shadow: 0 0 1em #45556c;
}

body {
    transition: background-color 0.3s, color 0.3s;
}


/* Tema escuro */
body.dark {
    background-color: #0f172b;
    color: #f5f5f4;

    .navbar-theme{
        background-color: #020628;
        color: #f5f5f4;
    }
    .mobile-menu-theme{
        background-color: #020628;
        color: #f5f5f4;
    }

    .footer-theme{
        background-color: #020628;
        color: #f5f5f4;
    }

    .card-theme{
        background-color: #364153;
        color: #f5f5f4;
    }

    .box-shadow-card {
        box-shadow: 0 0 1em #202934;
    }

}
